<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            Your Cart
          <button type="button" class="btn btn-outline-primary btn-sm">Checkout</button>
        </h5>
        <ul class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">
                Large Pizza
            </a>
            <button type="button" class="btn btn-outline-danger btn-sm">Remove from Cart</button>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </ul>
    </div>
</div>