{% extends "orders/components/side_cart_base.html" %}

{% block title %}Pinocchio's{% endblock %}

{% block content %}
    <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <p class="card-text">
                Noch's has reached a landmark this year......50 years in business! We've been feeding Harvard and the surrounding area since 1966!
                We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 500 reviews on Yelp--- check it out!
                Pinocchio's was recently named 1st Runner-up in the 'Boston's Best Pizza Poll' conducted by Eater.com and Top College Pizza Shop by Thrillist.com.
                <br>
                <br>
                Check out our mention on Suits!
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hoM7PJu6V-E" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <p class="card-text">
            ....and on the Phantom Gourmet
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TkABR72j7jU" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}