{% extends 'orders/components/side_cart_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if error_message %}
    	<p><strong>
    		{{error_message}}
    	</strong></p>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}