<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {{current_user}}'s Cart
        </h5>
        <ul class="list-group list-group-flush">
            {% include 'orders/components/cart.html' %}
        </ul>
        <br>
        {% if error_message %}
	    <p><strong>
		    {{error_message}}
	    </strong></p>
        {% endif %}
        <form role="form" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Checkout</button>
            </div>
        </form>
    </div>
</div>